* {
    margin: 0%;
    padding: 0%;
}

.body-pila {
    margin: 0;
    font-size: 20px;
    font-family: sans-serif;
}


/* MAIN */

.h3-pila {
    font-size: 2rem;
    text-align: center;
    color: orangered;
    padding: 1rem;
}

main {
    background-color: #f7f5f5;
    display: grid;
    grid-template-columns: 40% 60%;
}

#diagrama-cv {
    padding-top: 5%;
}

#interfaz {
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
}

#interaction {
    background-color: blue;
    display: grid;
    grid-template-columns: 8% auto auto auto auto;
    align-items: center;
}

.code-cont {
    padding: 2rem;
}