
@font-face {
    font-family: consola;
    src: url(fuentes/Inconsolata-Black.ttf);
}
body{
    background-color: rgb(207, 106, 106);
}
.resaltar{
    background-color: #ff0;
}
#bloque{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}
#diagrama{
    /* margin-left: 10px; */
    background-color: aqua;
    
}
/* Code */
#code{
    /* background-color: blue; */
    margin-top: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
}
#code div {
    margin: 10px;
    margin-right: 30px;
}
#code div p{
    font-family: consola, monospace;
    margin: 2px;
}
/* Opt */
#opt{
    margin: 20px;
}
#opt ul {
    list-style: none;  
    margin: 0;
    padding: 0;
}
#opt ul li{
    display: inline-block;
}
#opt ul li button:focus{
    background-color: red;
}
#opt ul li button:hover{
    background-color: rgb(0, 201, 134);
}
