@font-face {
    font-family: consola;
    src: url(fuentes/Inconsolata-Black.ttf);
}
body{
    background-color: rgb(255, 255, 255);
}
.resaltar{
    background-color: #ff0;
}
#bloque{
    display: flex;
    /*          row */
    flex-flow: column nowrap;
    justify-content: space-around;
}
#diagrama{
    margin-top: 10px;
    /* background-color: aqua; */
}

/* Codigo c */
#code{
    /* background-color: blue; */
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
#code div {
    margin: 10px;
    margin-right: 30px;
}
#code div p{
    font-family: consola, monospace;
    margin: 2px;
}

/* Opciones */
#opt{
    margin: 20px;
}
#opt ul {
    list-style: none;  
    margin: 0;
    padding: 0;
}
#opt ul li{
    display: inline-block;
}
#opt ul li button:hover{
    background-color: red;
}
#opt ul li button:focus{
    background-color: rgb(0, 201, 134);
}
